# Pandas Türkçe Başlangıç

### [GOOGLE COLAB ÜZERİNDE ÇALIŞTIR!](http://colab.research.google.com/github/fuatbeser/python-notlarim/blob/master/pandas_tutorial_turkish.ipynb)

- [Github](https://github.com/fuatbeser/python-notlarim)
- [Jupyter Notebook Viewer](http://nbviewer.jupyter.org/github/fuatbeser/python-notlarim/blob/master/pandas_tutorial_turkish.ipynb)

## Pandas

In [1]:
import numpy as np
import pandas as pd

Bir Python sözlüğünde kalori cetveli tanımlayalım.

In [2]:
KALORI_CETVELI = {"YIYECEK": ['BAL','CEVIZ','NOHUT', 'SUCUK', 'BIFTEK', 'TAVUK'],
                  "MIKTAR": [5,100,5,24,100,100],
                  "KALORI": [15,651,360,108,156,215]}

Sözlüğü Pandas `DataFrame`'ine çevirelim.

In [3]:
KALORI_CETVELI_DF = pd.DataFrame(KALORI_CETVELI)

KALORI_CETVELI_DF

  YIYECEK  MIKTAR  KALORI
0     BAL       5      15
1   CEVIZ     100     651
2   NOHUT       5     360
3   SUCUK      24     108
4  BIFTEK     100     156
5   TAVUK     100     215

İlk 5 değeri görelim.

In [4]:
KALORI_CETVELI_DF.head()

  YIYECEK  MIKTAR  KALORI
0     BAL       5      15
1   CEVIZ     100     651
2   NOHUT       5     360
3   SUCUK      24     108
4  BIFTEK     100     156

İlk 3 değeri görelim.

In [5]:
KALORI_CETVELI_DF.head(3)

  YIYECEK  MIKTAR  KALORI
0     BAL       5      15
1   CEVIZ     100     651
2   NOHUT       5     360

Son 3 değeri görelim.

In [6]:
KALORI_CETVELI_DF.tail(3)

  YIYECEK  MIKTAR  KALORI
3   SUCUK      24     108
4  BIFTEK     100     156
5   TAVUK     100     215

Aynı zamanda özniteliklerimiz olan sütun adlarını görelim.

In [7]:
KALORI_CETVELI_DF.columns

Index(['YIYECEK', 'MIKTAR', 'KALORI'], dtype='object')

Temel bilgileri görelim.

In [8]:
KALORI_CETVELI_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   YIYECEK  6 non-null      object
 1   MIKTAR   6 non-null      int64
 2   KALORI   6 non-null      int64
dtypes: int64(2), object(1)
memory usage: 272.0+ bytes

İstatistiksel bazı bilgileri görelim

In [9]:
KALORI_CETVELI_DF.describe()

           MIKTAR      KALORI
count    6.000000    6.000000
mean    55.666667  250.833333
std     49.057789  227.308967
min      5.000000   15.000000
25%      9.750000  120.000000
50%     62.000000  185.500000
75%    100.000000  323.750000
max    100.000000  651.000000

Veri tiplerini görelim.

In [10]:
KALORI_CETVELI_DF.dtypes

YIYECEK    object
MIKTAR      int64
KALORI      int64
dtype: object

`YIYECEK` başlıklı sütunda yer alan değerleri görelim.

In [11]:
KALORI_CETVELI_DF['YIYECEK']

0       BAL
1     CEVIZ
2     NOHUT
3     SUCUK
4    BIFTEK
5     TAVUK
Name: YIYECEK, dtype: object

`YIYECEK` başlıklı sütunda yer alan değerleri bu şekilde de görebiliriz.

In [12]:
KALORI_CETVELI_DF.YIYECEK

0       BAL
1     CEVIZ
2     NOHUT
3     SUCUK
4    BIFTEK
5     TAVUK
Name: YIYECEK, dtype: object

`YIYECEK` ve `KALORI` sütunlarının tüm satırlarını görelim.

In [13]:
KALORI_CETVELI_DF.loc[:,['YIYECEK', 'KALORI']]

  YIYECEK  KALORI
0     BAL      15
1   CEVIZ     651
2   NOHUT     360
3   SUCUK     108
4  BIFTEK     156
5   TAVUK     215

`YIYECEK` ve `KALORI` sütunlarının ilk üç satırını görelim.

In [14]:
KALORI_CETVELI_DF.loc[:2,['YIYECEK', 'KALORI']]

  YIYECEK  KALORI
0     BAL      15
1   CEVIZ     651
2   NOHUT     360

`KALORI`değeri 200'den fazla olanları görelim

In [15]:
KALORI_CETVELI_DF[KALORI_CETVELI_DF.KALORI>200]

  YIYECEK  MIKTAR  KALORI
1   CEVIZ     100     651
2   NOHUT       5     360
5   TAVUK     100     215

`KALORI`si 200'den ve `MIKTAR`ı 50'den fazla olanlar için iki adet filtre oluşturalım.

In [16]:
filtre1 = KALORI_CETVELI_DF.KALORI > 200
filtre2 = KALORI_CETVELI_DF.MIKTAR > 50

Filtreleri uygulayalım.

In [17]:
KALORI_CETVELI_DF[filtre1 & filtre2]

  YIYECEK  MIKTAR  KALORI
1   CEVIZ     100     651
5   TAVUK     100     215

Kalori ortalamasını görelim.

In [18]:
KALORI_CETVELI_DF.KALORI.mean()

250.83333333333334

Ortalamayı Numpy'da yer alan `np.mean()` ile de bulabiliriz.

In [19]:
np.mean(KALORI_CETVELI_DF.KALORI)

250.83333333333334

`KALORI_SEVIYESI` adında yeni bir sütun açalım ve yiyeceğin kalorisi 200'den küçük ise `NORMAL` diğer durumlarda `YUKSEK` olacak şeklinde değerler atayalım.

In [20]:
KALORI_CETVELI_DF['KALORI_SEVIYESI'] = ['NORMAL' if kalori < 200 else 'YUKSEK' for kalori in KALORI_CETVELI_DF.KALORI]
KALORI_CETVELI_DF

  YIYECEK  MIKTAR  KALORI KALORI_SEVIYESI
0     BAL       5      15          NORMAL
1   CEVIZ     100     651          YUKSEK
2   NOHUT       5     360          YUKSEK
3   SUCUK      24     108          NORMAL
4  BIFTEK     100     156          NORMAL
5   TAVUK     100     215          YUKSEK

Sütun isimlerini **küçük harflerle** değiştirelim.

In [21]:
KALORI_CETVELI_DF.columns = [isim.lower() for isim in KALORI_CETVELI_DF.columns] 
KALORI_CETVELI_DF

  yiyecek  miktar  kalori kalori_seviyesi
0     BAL       5      15          NORMAL
1   CEVIZ     100     651          YUKSEK
2   NOHUT       5     360          YUKSEK
3   SUCUK      24     108          NORMAL
4  BIFTEK     100     156          NORMAL
5   TAVUK     100     215          YUKSEK

`kalori_seviyesi` sütununu **silelim**.

In [22]:
KALORI_CETVELI_DF.drop(['kalori_seviyesi'], axis = 1, inplace = True)
KALORI_CETVELI_DF

  yiyecek  miktar  kalori
0     BAL       5      15
1   CEVIZ     100     651
2   NOHUT       5     360
3   SUCUK      24     108
4  BIFTEK     100     156
5   TAVUK     100     215

`KALORI_CETVELI_DF` ile `KALORI_CETVELI_DF` alt alta birleştirelim.

In [23]:
cift = pd.concat([KALORI_CETVELI_DF,KALORI_CETVELI_DF], axis = 0)
cift

  yiyecek  miktar  kalori
0     BAL       5      15
1   CEVIZ     100     651
2   NOHUT       5     360
3   SUCUK      24     108
4  BIFTEK     100     156
5   TAVUK     100     215
0     BAL       5      15
1   CEVIZ     100     651
2   NOHUT       5     360
3   SUCUK      24     108
4  BIFTEK     100     156
5   TAVUK     100     215

index değerlerini sıfırlamak için `reset_index()` kullanabiliriz.

In [24]:
cift.reset_index(drop = True, inplace = True)
cift

   yiyecek  miktar  kalori
0      BAL       5      15
1    CEVIZ     100     651
2    NOHUT       5     360
3    SUCUK      24     108
4   BIFTEK     100     156
5    TAVUK     100     215
6      BAL       5      15
7    CEVIZ     100     651
8    NOHUT       5     360
9    SUCUK      24     108
10  BIFTEK     100     156
11   TAVUK     100     215

Miktar birimimiz gram idi. Bunu kilograma çevirelim.

In [25]:
cift["miktar"] = [miktar / 1000 for miktar in cift.miktar]
cift

   yiyecek  miktar  kalori
0      BAL   0.005      15
1    CEVIZ   0.100     651
2    NOHUT   0.005     360
3    SUCUK   0.024     108
4   BIFTEK   0.100     156
5    TAVUK   0.100     215
6      BAL   0.005      15
7    CEVIZ   0.100     651
8    NOHUT   0.005     360
9    SUCUK   0.024     108
10  BIFTEK   0.100     156
11   TAVUK   0.100     215

Gramdan kilograma çeviren bir fonksiyon tanımlayalım

In [26]:
def kg2gr(x):
    return x * 1000

Miktar sütununa bu fonksiyonu uygulayarak tekrar miktarın birimini gram olarak değiştirelim.

In [27]:
cift.miktar = cift.miktar.apply(kg2gr)
cift

   yiyecek  miktar  kalori
0      BAL     5.0      15
1    CEVIZ   100.0     651
2    NOHUT     5.0     360
3    SUCUK    24.0     108
4   BIFTEK   100.0     156
5    TAVUK   100.0     215
6      BAL     5.0      15
7    CEVIZ   100.0     651
8    NOHUT     5.0     360
9    SUCUK    24.0     108
10  BIFTEK   100.0     156
11   TAVUK   100.0     215